<h2 class="f-w-500 m-b-24" mat-dialog-title><strong>{{action}}</strong></h2>
<div class="m-t-24 d-flex justify-content-center overlay" *ngIf="loadingSpinner">
  <mat-spinner ></mat-spinner>
</div>

@if(action !== 'Delete') {
  
<mat-dialog-content style="max-width: 800px">
  
  <form #courseForm="ngForm">

    <!-- <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
      
      <mat-tab label="Link">
        
        <div class="d-flex align-items-center gap-16 m-b-16"  >
          <img
         
            class="mat-card-avatar"
            [src]="converImage(local_data.image)"
            width="200"
            height="100"
            
          />
        
        <mat-form-field appearance="outline" class="w-100">
          <input
            type="text"
            matInput
            
            id="image"
            name="image"
            [(ngModel)]="local_data.image"
            placeholder="Link Image"
          />
          <mat-icon matPrefix>
            <i-tabler name="photo" class="icon-20 d-flex"></i-tabler>
          </mat-icon>
        </mat-form-field>
        </div>
      </mat-tab>
      <mat-tab label="File">
        <div class="d-flex align-items-center m-b-16"  >

          <img
         
            class="mat-card-avatar"
            [src]="converImage(local_data.image)"
            width="200"
            height="100"
            
          />
          
          <button mat-flat-button color="primary" class="m-l-16 input-file-button">
            <input type="file" (change)="selectFile($event)" #fileInput />
          </button>
        </div>
      </mat-tab>
      
    </mat-tab-group> -->

    

    <div class="row">
      <div class="col-lg-4">
        <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block"
            >Name</mat-label
          >
        <mat-form-field appearance="outline" class="w-100">
          <input
            type="text"
            matInput
            
            id="Name"
            name="name"
            [(ngModel)]="local_data.name_user"
            placeholder="Name"
          />
          <mat-icon matPrefix>
            <i-tabler name="user" class="icon-20 d-flex"></i-tabler>
          </mat-icon>
        </mat-form-field>
      </div>
      <div class="col-lg-4">
        <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block"
            >Gender:</mat-label
          >
        <mat-form-field appearance="outline" class="w-100">
          <mat-select [(ngModel)]="local_data.gender" placeholder="Gender" name="Gender">
            <mat-option [value]="'male'">Male</mat-option>
            <mat-option [value]="'female'">Female</mat-option>         
          
          </mat-select>
          <mat-icon matPrefix>
            <i-tabler name="friends" class="icon-20 d-flex"></i-tabler>
          </mat-icon>
        </mat-form-field>
      </div>

      <div class="col-lg-4">
        <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block"
            >Date of birth:</mat-label
          >
        <mat-form-field appearance="outline" class="w-100">
          <input
            type="date"
            matInput
            required
            id="date_of_birth"
            name="date_of_birth"
            [(ngModel)]="local_data.date_of_birth"
            placeholder="Date of birth"
          />
          <mat-icon matPrefix>
            <i-tabler name="cake" class="icon-20 d-flex"></i-tabler>
          </mat-icon>
        </mat-form-field>
      </div>

      <div class="col-lg-6">
        <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block"
            >Email:</mat-label
          >
        <mat-form-field appearance="outline" class="w-100">
          <input
            type="text"
            matInput
            required
            id="email"
            name="email"
            [(ngModel)]="local_data.email"
            placeholder="Email"
          />
          <mat-icon matPrefix>
            <i-tabler name="mail" class="icon-20 d-flex"></i-tabler>
          </mat-icon>
        </mat-form-field>
      </div>
     
      <div class="col-lg-6" >
        <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block"
            >Password:</mat-label
          >
        <mat-form-field appearance="outline" class="w-100">
         
          <input id="password"
          name="password"
          [(ngModel)]="local_data.password"
          placeholder="Password" required matInput [type]="hide() ? 'password' : 'text'" />
          <button
            mat-icon-button
            matSuffix
            (click)="clickEvent($event)"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide()"
          >
            <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
      </div>

     
      

      <div class="col-lg-6">
        <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block"
            >Phone:</mat-label
          >
        <mat-form-field appearance="outline" class="w-100">
          <input
            type="text"
            matInput
            required
            id="mobie"
            name="mobie"
            [(ngModel)]="local_data.mobie"
            placeholder="Phone"
          />
          <mat-icon matPrefix>
            <i-tabler name="phone" class="icon-20 d-flex"></i-tabler>
          </mat-icon>
        </mat-form-field>
      </div>

      

      <div class="col-lg-6" *ngIf="action == 'Add'" >
        <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block"
            >Role </mat-label
          >
        <mat-form-field appearance="outline" class="w-100" >          
          <mat-select [(ngModel)]="local_data.role_id" placeholder="Role" name="Role" multiple>
            <mat-option [value]="1">Admin</mat-option>
            <mat-option [value]="2">Teacher</mat-option>
            <mat-option [value]="3">Student</mat-option>
          
          </mat-select>
          <mat-icon matPrefix>
            <i-tabler name="user-exclamation" class="icon-20 d-flex"></i-tabler>
          </mat-icon>
        </mat-form-field>
      </div>

      <div class="col-lg-6" *ngIf="action == 'Update'" >
        <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block"
            >Role </mat-label
          >
        <mat-form-field appearance="outline" class="w-100" >          
          <mat-select [(ngModel)]="local_data.role_id" placeholder="Role" name="Role" multiple>
            <!-- <mat-option *ngFor="let item of listRole" [value]="item.id">{{item.name_role}}</mat-option> -->
            <mat-option [value]="1">Admin</mat-option>
            <mat-option [value]="2">Teacher</mat-option>
            <mat-option [value]="3">Student</mat-option>
          
          </mat-select>
          <mat-icon matPrefix>
            <i-tabler name="user-exclamation" class="icon-20 d-flex"></i-tabler>
          </mat-icon>
        </mat-form-field>
      </div>

    

      

     
    </div>
    <button
      *ngIf="local_data.id"
      mat-flat-button
      (click)="saveEdit()"
      mat-flat-button
      color="primary"
      [disabled]="!courseForm.valid"
    >
    Save Edit
      
    </button>
    <button
      *ngIf="!local_data.id"
      mat-flat-button
      (click)="saveCreate()"
      mat-flat-button
      color="primary"
      [disabled]="!courseForm.valid"
    >
    Add
    </button>
    <button
      mat-stroked-button
      color="warn"
      class="m-l-8"
      (click)="closeDialog()"
    >
      Cancel
    </button>
  </form>
</mat-dialog-content>
} @else {
<div class="p-x-24">
  <p>Sure to delete <span class="f-w-600">{{local_data.Name}}</span> ?</p>
</div>
<div mat-dialog-actions class="p-x-24 p-b-24">
  <button mat-button *ngIf="local_data.id" (click)="saveEdit()" mat-flat-button color="warn">
    Edit
  </button>
  <button mat-button *ngIf="!local_data.id" (click)="saveCreate()" mat-flat-button color="warn">
    Add
  </button>
  <button mat-button (click)="closeDialog()" class="m-l-8">Cancel</button>
</div>
}
