
<mat-card class="cardWithShadow">
    <mat-card-content class="p-24">
      <div class="row justify-content-between">
        <div class="col-lg-4">
          <mat-form-field appearance="outline" class="w-100 hide-hint">
            <input
              matInput
              placeholder="Search User"
              (keyup)="applyFilter($any($event.target).value)"
            />
            <mat-icon matSuffix>
              <i-tabler name="search" class="icon-20"></i-tabler>
            </mat-icon>
          </mat-form-field>
        </div>
        <div class="col-lg-4 d-flex align-items-center justify-content-end">
          <button mat-flat-button (click)="openDialog('Add', {})" color="primary">
            Add User
          </button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <div *ngIf="totalRecord$ | async as length">
    <mat-paginator (page)="handlePageEvent($event)" [length]="length" [pageIndex]="pageIndex" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
      [hidePageSize]="false" aria-label="Chọn trang">
  </mat-paginator>
  </div>
  <div class="m-t-24 d-flex justify-content-center overlay" *ngIf="loadingSpinner" >
    <mat-spinner ></mat-spinner>
  </div>
  
  <mat-card class="cardWithShadow">
    <mat-card-content class="p-24">
      <div class="table-responsive">
        <table mat-table [dataSource]="userList$ | async" class="w-100">
          <ng-container matColumnDef="#">
            <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">#</th>
            <td mat-cell *matCellDef="let element ; let i = index">{{ i + 1 }}</td>
          </ng-container>
  
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
              Name
            </th>
            <td mat-cell *matCellDef="let element" class="f-s-14">{{ element.name_user }}</td>
          </ng-container>
  
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
              Email
            </th>
            <td mat-cell *matCellDef="let element" class="f-s-14">{{ element.email }}</td>
          </ng-container>

          <ng-container matColumnDef="password">
            <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
              Password
            </th>
            <td mat-cell *matCellDef="let element" class="f-s-14">{{ '*'.repeat(element.password.length) }}</td>
          </ng-container>

          <ng-container matColumnDef="gender">
            <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
              Gender
            </th>
            <td mat-cell *matCellDef="let element" class="f-s-14">{{ element.gender }}</td>
          </ng-container>
  
          <ng-container matColumnDef="mobile">
            <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
              Mobile
            </th>
            <td mat-cell *matCellDef="let element" class="f-s-14">
              {{ element.mobie }}
            </td>
          </ng-container>
  
          <ng-container matColumnDef="date_of_birth">
            <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
              date_of_birth
            </th>
            <td mat-cell *matCellDef="let element" class="f-s-14">
              {{ element.date_of_birth | date : "fullDate" }}
            </td>
          </ng-container>
  
          
  
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
              Action
            </th>
            <td mat-cell *matCellDef="let element" class="action-link">
              <a
                (click)="openDialog('Update', element)"
                class="m-r-10 cursor-pointer"
                ><i-tabler name="edit" class="icon-18"></i-tabler
              ></a>
              <a
                (click)="openDialogRemove('250ms', '250ms', element)"
                class="m-r-10 cursor-pointer"
              >
                <i-tabler name="trash" class="icon-18"></i-tabler>
              </a>
            </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        
      </div>
    </mat-card-content>
  </mat-card>
  